section.blog {
  ul.posts {
      list-style: none;
  }
  section#contact {
    background: none;
  }

  #firstposts {
    width: 100%;
    /*.columns(auto, 3, 10px);*/
    margin-right: auto;
    margin-left: auto;
    .portfolio-item {
      h4 {
        font-size:2em;
      }
      p {
        color:@gray-light;
      }
    }
  }

  @media(min-width:1000px) {
    #firstposts {
      width:1000px;
    }
  }
  .post {
    img {
      float:right;
      .rounded(5px);
      margin:10px;
      padding:10px;
      border:1px solid;
      border-color:@brand-primary;
      background-color:lighten(@brand-primary, 30%);
    }
    .titleimage {
      img {
        border:none;
        padding: 0px;
        float:none;
        margin-left: auto;
        margin-right: auto;
        .rounded(0px);
      }
    }
  }
}