{% extends "./layout.html" %}

{% block content %}
        <section class="content">
            <div class="clear">&nbsp;</div>
            <div class="container container_12 post green">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_5 post">
                    <h1>Sorry, I could not find the requested page.</h1>
                    <p>The url {{url}} could not be found.</p>
                    <a href="/">Go back to the homepage.</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>

{% endblock %}
