
extends layout

block content
	<div class="single-widget-container error-page">
	<section class="widget transparent widget-404">
	<div class="body">
	<div class="row">
	<div class="col-md-5">
	<h1 class="text-align-center">500</h1>
	</div>
	<div class="col-md-7">
	<div class="description">
	<h3>Opps, it seems that we could not complete your request and you probably found a bug.</h3>
	<p>If you are sure this request should work, give our programming mokeys a shout <a href="/#/contact">shout</a>!</p>
	</div>
	</div>
	</div>
	</div>
	</section>
	</div>