{% extends "./layout.html" %}

{% block content %}
        <section class="content">
            <div class="clear">&nbsp;</div>
            <div class="container container_12 post green">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_5 post">
                    <p>Hello, my name is Chris and I consider myself a web enthusiast. Working on customer projects and the famous <a href="http://www.aloha-editor.org">Aloha Editor</a> at <a href="http://www.gentics.com">Gentics</a> in Vienna, I
                        am lucky to work with web technology every day.
                        <img src="/media/pictures/csupnig.jpg" alt="Christopher Supnig"></p>
                    <p>
                        Apart from making customers happy, designing projects and saving the world once in a while, I am always keen on new ideas and different views on common problems.
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>

{% endblock %}
