
{% extends "./layout.html" %}

{% block content %}

<section>
    <form class="newsletter" action="/amazon" method="post" novalidate>
        <div>
            <h2 class="section-heading text-center">Amazon Search</h2>
            <div class="form-group">
                <input type="text" value="" name="keywords" class="form-control" placeholder="Searchterm">
            </div>
            <div class="clear submit">
                <input type="submit" value="Search" name="search" class="btn btn-xl">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="firstposts">
                {% for item in results %}
                <div class="portfolio-item item searchresult-amazon text-center">
                    {% if item.image %}
                    <a href="{{itemurl}}" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{item.image}}" class="img-responsive" alt="">
                    </a>
                    {% endif %}
                    <div class="portfolio-caption">
                        <h4><a href="{{item.url}}">{{item.title}}</a></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
