
{% extends "./layout.html" %}

{% block content %}

<section>
    <script charset="utf-8" type="text/javascript">
        amzn_assoc_ad_type = "responsive_search_widget";
        amzn_assoc_tracking_id = "supnigcom-21";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "DE";
        amzn_assoc_placement = "";
        amzn_assoc_search_type = "search_widget";
        amzn_assoc_width = 800;
        amzn_assoc_height = 600;
        amzn_assoc_default_search_category = "";
        amzn_assoc_default_search_key = "";
        amzn_assoc_theme = "light";
        amzn_assoc_bg_color = "FFFFFF";
    </script>
    <script src="https://z-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=DE"></script>

</section>

{% endblock %}
