{% extends "./layout.html" %}

{% block content %}
        <section class="content cv-content">
            <div class="columns-block container">
                <div class="left-col-block blocks">
                    <header class="header theiaStickySidebar">
                        <div class="profile-img">
                            <img src="/media/pictures/cv.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="content cv-content-me">
                            <h1>Christopher Supnig</h1>
                            <div class="lead">Software Consultant</div>

                            <div class="about-text">
                                <p>
                                    I am passionate about software engineering and hungry to learn. I can help your team to build beautiful,
                                    resilient and scalable applications in the clound and anywhere else. Let us work together and build something
                                    great!
                                </p>

                                <p>I currently only take on exciting projects with growth potential.</p>


                                <p><img src="/media/pictures/signature.png" alt="" class="img-responsive"></p>
                            </div>


                            <ul class="list-inline social-buttons social-icon">
                                <li><a href="https://github.com/csupnig"><i class="fa fa-github"></i></a>
                                </li>
                                <li><a href="https://twitter.com/csupnig"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="http://stackoverflow.com/users/694426/csupnig"><i class="fa fa-stack-overflow"></i></a>
                                </li>
                                <li><a href="https://www.facebook.com/supnig"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="https://www.xing.com/profile/Christopher_Supnig"><i class="fa fa-xing"></i></a>
                                </li>
                            </ul>
                        </div>

                    </header>
                    <!-- .header-->
                </div>
                <!-- .left-col-block -->


                <div class="right-col-block blocks">
                    <div class="theiaStickySidebar">
                        <section class="expertise-wrapper section-wrapper gray-bg">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2>Expertise</h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="expertise-item">
                                            <h3>Conceptualise</h3>

                                            <p>
                                                I have lead teams and projects through an early stage, where requirements engineering and setting up an architecture of your project is most crucial for success.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="expertise-item">
                                            <h3>Implement</h3>

                                            <p>
                                                With more than 15 years in software engineering experience, I can help you to solve the most challenging problems in your project. I love leading and supporting
                                                teams to accomplish a project success together.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="expertise-item">
                                            <h3>Communicate</h3>

                                            <p>
                                                Use your product to communicate to your customers. Usability design let's the user find out about the application in front of them without ever having to read a manual.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="expertise-item">
                                            <h3>Optimise</h3>

                                            <p>
                                                Scaling and optimising your application for a broad user base can be tough. I will help you to bring your project to the masses without letting your servers break a sweat ;)
                                            </p>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </section>
                        <!-- .expertise-wrapper -->

                        <section class="section-wrapper skills-wrapper">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2>Skills</h2>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress-wrapper">

                                            <div class="progress-item">
                                                <span class="progress-title">Cloud</span>
                                                <small>AWS, Serverless, ...</small>

                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><span class="progress-percent"> 75%</span>
                                                    </div>
                                                </div>
                                                <!-- .progress -->
                                            </div>
                                            <!-- .skill-progress -->


                                            <div class="progress-item">
                                                <span class="progress-title">JavaScript</span>
                                                <small>Angular, NodeJS, TypeScript, React,...</small>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                                                    </div>
                                                </div>
                                                <!-- /.progress -->
                                            </div>
                                            <!-- /.skill-progress -->


                                            <div class="progress-item">
                                                <span class="progress-title">Java</span>
                                                <small>Spring, ElasticSearch, Hibernate,...</small>

                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;"><span class="progress-percent"> 62%</span>
                                                    </div>
                                                </div>
                                                <!-- /.progress -->
                                            </div>

                                            <div class="progress-item">
                                                <span class="progress-title">Web</span>
                                                <small>SEO, SEM,...</small>

                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%;"><span class="progress-percent"> 72%</span>
                                                    </div>
                                                </div>
                                                <!-- /.progress -->
                                            </div>
                                            <!-- /.skill-progress -->

                                            <div class="progress-item">
                                                <span class="progress-title">Communtcation Skills</span>
                                                <small>Speaker, Teacher,...</small>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                                                    </div>
                                                </div>
                                                <!-- /.progress -->
                                            </div>
                                            <!-- /.skill-progress -->
                                            <div class="progress-item">
                                                <span class="progress-title">Project Management</span>
                                                <small>Scrum, Team Lead,...</small>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="progress-percent"> 80%</span>
                                                    </div>
                                                </div>
                                                <!-- .progress -->
                                            </div>
                                            <!-- .skill-progress -->

                                        </div>
                                        <!-- /.progress-wrapper -->
                                    </div>
                                </div>
                                <!--.row -->
                            </div>
                            <!-- .container-fluid -->
                        </section>
                        <!-- .skills-wrapper -->


                        <section class="section-wrapper section-experience gray-bg">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title"><h2>Project Experience</h2></div>
                                    </div>
                                </div>
                                <!--.row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content-item">
                                            <small>2016 - Present</small>
                                            <h3>appointmed.com</h3>
                                            <h4>Frontend lead, SEO, SEM</h4>

                                            <p>HTML, SCSS, Angular, TypeScript, Serverless, AWS, NodeJS</p>
                                        </div>
                                        <div class="content-item">
                                            <small>2016 - 2018</small>
                                            <h3>Online Banking for an Austrian bank</h3>
                                            <h4>Frontend lead and requirements engineering</h4>

                                            <p>HTML, SCSS, Angular, TypeScript, Big Team (25+)</p>
                                        </div>

                                        <div class="content-item">
                                            <small>2015</small>
                                            <h3>www.video-manager.at</h3>
                                            <h4>Project lead, requirements engineering and development</h4>

                                            <p>HTML, SCSS, Angular, TypeScript, ElasticSearch</p>
                                        </div>

                                        <div class="content-item">
                                            <small>2014</small>
                                            <h3>cointelligence.net</h3>
                                            <h4>Project lead and development</h4>

                                            <p>HTML, SCSS, Angular, TypeScript, NodeJS, trading strategies for bitcoin exchanges</p>
                                        </div>

                                        <div class="content-item">
                                            <small>2008 - 2012</small>
                                            <h3>Intranet for Erste Bank and Sparkasse</h3>
                                            <h4>Project lead, requirements engineering and development</h4>

                                            <p>Java, JSR-286, Apache Lucene, 55k+ Users and 4 Mio+ content pages</p>
                                        </div>

                                        <div class="content-item">
                                            <small>2012 - 2014</small>
                                            <h3>Intranet and Web portals for Swarovski</h3>
                                            <h4>Project lead, requirements engineering and development</h4>

                                            <p>Java, JSR-286, Apache Lucene</p>
                                        </div>

                                        <div class="content-item">
                                            <small>2008 - 2010</small>
                                            <h3>Information portals for the Austrian Government</h3>
                                            <h4>Project lead, requirements engineering and development</h4>

                                            <p>Java, JSR-286, Apache Lucene, MySQL</p>
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!-- .container-fluid -->

                        </section>

                        <section class="section-wrapper section-experience gray-bg">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title"><h2>Work Experience</h2></div>
                                    </div>
                                </div>
                                <!--.row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content-item">
                                            <small>2016 - Present</small>
                                            <h3>Co-Founder and Frontend Lead</h3>
                                            <h4>appointmed GmbH</h4>

                                            <p>Austria, Vienna</p>
                                        </div>
                                        <div class="content-item">
                                            <small>2016 - Present</small>
                                            <h3>Self-Employed</h3>
                                            <h4>Christopher Supnig</h4>

                                            <p>Austria, Vienna</p>
                                        </div>
                                        <!-- .experience-item -->
                                        <div class="content-item">
                                            <small>2008 - 2016</small>
                                            <h3>Senior Web Developer / Key Account Manager</h3>
                                            <h4>Gentics Software GmbH / APA</h4>

                                            <p>Austria, Vienna</p>
                                        </div>
                                        <!-- .experience-item -->
                                        <div class="content-item">
                                            <small>2002 - 2008</small>
                                            <h3>Internships and projects</h3>
                                            <h4>Fabasoft, Chemserv, Voest,...</h4>

                                            <p>Austria, Linz</p>
                                        </div>
                                        <!-- .experience-item -->
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!-- .container-fluid -->

                        </section>
                        <!-- .section-experience -->

                        <section class="section-wrapper section-education">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title"><h2>Education</h2></div>
                                    </div>
                                </div>
                                <!--.row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content-item">
                                            <small>2007 - 2008</small>
                                            <h3>BSc - Bachelor studies "Computing" (hons degree)</h3>
                                            <h4>University of Central Lancashire</h4>

                                            <p>United Kingdom, Preston</p>
                                        </div>
                                        <!-- .experience-item -->
                                        <div class="content-item">
                                            <small>2000 - 2006</small>
                                            <h3>High School Diploma with excellence (Computing and Economics)</h3>
                                            <h4>HTBLA Leonding</h4>

                                            <p>Austria, Leonding</p>
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!-- .container-fluid -->

                        </section>
                        <!-- .section-education -->

                        <section class="section-wrapper section-interest gray-bg">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2>Interest</h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content-item">
                                            <h3>Sports</h3>

                                            <p>Exercise constitutes for me the perfect balance to the work I am doing in front of the computer. I like spending time in the gym, on the water (sailing and surfing) and in the mountains (hiking).</p>
                                        </div>
                                        <div class="content-item">
                                            <h3>Investment</h3>

                                            <p>About two years ago I opened the world of investments for me. The unpredictability of the stock market and the opportunities in other forms of investments interest me and are always a good base for exciting projects.</p>

                                        </div>
                                        <div class="content-item">
                                            <h3>Travel</h3>

                                            <p>I strongly believe that travel is the most important way to form a humans's mind. Getting to know different cultures and seeing the world from other angles opens up new possibilities and creativity.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->

                            </div>
                        </section>
                        <!-- .section-publications -->

                        <section class="section-wrapper portfolio-section">
                            <div class="container-fluid" style="text-align: center">
                                <a href="/#portfolio" class="btn btn-xl">Have a look at some of my latest projects</a>
                            </div>
                        </section>
                        <!-- .portfolio -->

                        <section class="section-contact section-wrapper gray-bg">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2>Contact</h2>
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <address>
                                            <strong>Address</strong><br>
                                            Kuefsteingasse 11/16<br>
                                            1140 Vienna, Austria

                                        </address>

                                        <address>
                                            <strong>Mobile Number</strong><br>
                                            +4369917109905
                                        </address>


                                        <address>
                                            <strong>Email</strong><br>
                                            <a href="mailto:#">christopher@supnig.com</a>
                                        </address>
                                    </div>
                                </div>
                                <!--.row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="feedback-form">
                                            <h2>Get in touch</h2>
                                            <section id="contact">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <form name="sentMessage" id="contactForm" action="//formspree.io/contact@supnig.com" method="post">

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                                                            <p class="help-block text-danger"></p>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="email" class="form-control" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                                                            <p class="help-block text-danger"></p>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="tel" class="form-control" name="phone" placeholder="Your Phone" id="phone">
                                                                            <p class="help-block text-danger"></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <textarea class="form-control" name="message" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                                                            <p class="help-block text-danger"></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    <div class="col-lg-12 text-center">
                                                                        <div id="success"></div>
                                                                        <button type="submit" class="btn btn-xl">Send Message</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <!-- .feedback-form -->


                                    </div>
                                </div>
                            </div>
                            <!--.container-fluid-->
                        </section>
                        <!-- .footer -->
                    </div>
                    <!-- Sticky -->
                </div>
                <!-- .right-col-block -->
            </div>
        </section>

{% endblock %}
