
<!DOCTYPE html>
<!--
      __                           
     /\ \             __           
  ___\ \ \___   _ __ /\_\    ____  
 /'___\ \  _ `\/\`'__\/\ \  /',__\ 
/\ \__/\ \ \ \ \ \ \/ \ \ \/\__, `\
\ \____\\ \_\ \_\ \_\  \ \_\/\____/
 \/____/ \/_/\/_/\/_/   \/_/\/___/ 
                          ...did this!         

-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Christopher Supnig - My Blog</title>
    <link href="http://styles.supnig.com/styles/webfonts/RV_WBF_helveticaneueltstd.css" rel="stylesheet" type="text/css" />
    <link href="http://styles.supnig.com/styles/RV_STS_structure.css" rel="stylesheet" type="text/css" />
    <link href="http://styles.supnig.com/styles/RV_STS_fonts.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <meta name="keywords" content="christopher supnig, supnig, christopher, web, design, blog, portal, web application, enterprise search" />
    <link rel="author" href="/humans.txt" />
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Looks like you found me! As you surely can tell I'm in love with web development... just check out my blog (it is said that it makes you a better person!)"/>
    <!-- ENABLE HTML5 FOR DUMB BROWSER -->
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/vnd.microsoft.icon" href="http://images.supnig.com/media/icons/favicon.png" />
    <link rel="shortcut icon" href="http://images.supnig.com/media/icons/favicon.png">
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8861708-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<div class="site">
    <header class="header container container_12">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_11">
            <h1>
                <a href="http://www.supnig.com" title="///SUPNIG - Home">
                    <span class="blue">/</span>
                    <span class="lightblue">/</span>
                    <span class="green">/</span>
                    <span class="yellow">S</span>
                    <span class="darkyellow">U</span>
                    <span class="orange">P</span>
                    <span class="darkorange">N</span>
                    <span class="pink">I</span>
                    <span class="violet">G</span>
                </a>
            </h1>
            <span class="subtitle">These are my few cents on web development, sofware and generally the things I love.</span>
        </div>
        <div class="clearfix"></div>
    </header>
    <section id="revereContent" class="content">
        <div class="clear">&nbsp;</div>
        <ul class="container container_12">
            <li class="post blue">
                <article class="container container_12">
                    <div class="grid_1">&nbsp;</div>
                    <div class="grid_10 post">
                        <h2><a href="/blog/the-5-minute-guide-to-free-your-mind" title=" The 5 minute guide to free your mind"> The 5 minute guide to free your mind</a></h2>
                        <div class="infos"><span class="time">1 year ago</span></div>
                        <div class="content"><p>As we live
                            now, we have to deal with vast variety of thoughts throughout our daily
                            routine. It does not really matter if those are thoughts about how to solve a
                            problem in your job or private life, the list of items you are putting on your
                            imaginary shopping list, or just random thoughts that come to your mind and take
                            down your productivity or even your wellbeing. Read on to find out how I try to
                            cope with this mind clutter and go about to clean my mind.</p> <p class="morelink"><a href="/blog/the-5-minute-guide-to-free-your-mind" title=" The 5 minute guide to free your mind">continue reading &raquo;</a></p></div>
                    </div>
                </article>
                <div class="clear"></div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </section>
    <footer class="footer container container_12">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_11">
            <div class="floatleft email">
                <a href="http://www.supnig.com/about" title="About">&copy; Christopher Supnig</a>
            </div>
            <ul class="contact" role="menu">
                <li class="github" role="menuitem"><a title="github" href="http://www.github.com/csupnig">@github</a></li>
                <li class="twitter" role="menuitem"><a title="follow me @csupnig" href="http://www.twitter.com/csupnig">@csupnig</a></li>
                <li class="stackoverflow" role="menuitem"><a title="stackoverflow" href="http://stackoverflow.com/users/694426/csupnig">@csupnig</a></li>
                <li class="rss" role="menuitem"><a title="RSS" href="/rss">RSS</a></li>
            </ul>
        </div>
    </footer>



</div>
<script src="http://scripts.supnig.com/scripts/custom/SCT_layout.js"></script>
</body>
</html>
