<!DOCTYPE html>
<!--
      __
     /\ \             __
  ___\ \ \___   _ __ /\_\    ____
 /'___\ \  _ `\/\`'__\/\ \  /',__\
/\ \__/\ \ \ \ \ \ \/ \ \ \/\__, `\
\ \____\\ \_\ \_\ \_\  \ \_\/\____/
 \/____/ \/_/\/_/\/_/   \/_/\/___/
                          ...did this!

-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Christopher Supnig - My Blog</title>
    <link href="/styles/RV_STS_structure.css" rel="stylesheet" type="text/css" />
    <meta name="keywords" content="christopher supnig, supnig, christopher, web, design, blog, portal, web application, enterprise search" />
    <link rel="author" href="/humans.txt" />
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Looks like you found me! As you surely can tell I'm in love with web development... just check out my blog (it is said that it makes you a better person!)"/>
    <!-- ENABLE HTML5 FOR DUMB BROWSER -->
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/vnd.microsoft.icon" href="http://images.supnig.com/media/icons/favicon.png" />
    <link rel="shortcut icon" href="http://images.supnig.com/media/icons/favicon.png">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-8861708-2', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div class="site">
    <header class="header container container_12">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_11">
            <h1>
                <a href="/" title="///SUPNIG - Home">
                    <span class="blue">/</span>
                    <span class="lightblue">/</span>
                    <span class="green">/</span>
                    <span class="yellow">S</span>
                    <span class="darkyellow">U</span>
                    <span class="orange">P</span>
                    <span class="darkorange">N</span>
                    <span class="pink">I</span>
                    <span class="violet">G</span>
                </a>
            </h1>
            <span class="subtitle">These are my few cents on web development, sofware and generally the things I love.</span>
        </div>
        <div class="clearfix"></div>
    </header>

    {% block content %}
    NO TEMPLATE FOUND
    {% endblock %}

    <footer class="footer container container_12">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_11">
            <div class="floatleft email">
                <a href="/about" title="About">&copy; Christopher Supnig</a>
            </div>
            <ul class="contact" role="menu">
                <li class="github" role="menuitem"><a title="github" href="http://www.github.com/csupnig">@github</a></li>
                <li class="twitter" role="menuitem"><a title="follow me @csupnig" href="http://www.twitter.com/csupnig">@csupnig</a></li>
                <li class="stackoverflow" role="menuitem"><a title="stackoverflow" href="http://stackoverflow.com/users/694426/csupnig">@csupnig</a></li>
                <li class="rss" role="menuitem"><a title="RSS" href="/rss">RSS</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>