<!DOCTYPE html>
<!--
      __
     /\ \             __
  ___\ \ \___   _ __ /\_\    ____
 /'___\ \  _ `\/\`'__\/\ \  /',__\
/\ \__/\ \ \ \ \ \ \/ \ \ \/\__, `\
\ \____\\ \_\ \_\ \_\  \ \_\/\____/
 \/____/ \/_/\/_/\/_/   \/_/\/___/
                          ...did this!

-->
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="/humans.txt" />
    <meta name="robots" content="all" />
    <meta name="description" content="{% if description %}{{description}}{% else %}{% if post.preview %}{{post.preview|striptags|safe}}{% else %}Looks like you found me! As you surely can tell I'm in love with web development... just check out my blog (it is said that it makes you a better person!){% endif %}{% endif %}"/>
    <meta property="og:title" content="{% if title %}{{title}}{% else %}{% if post.title %}Christopher Supnig - {{post.title}}{% else %}Christopher Supnig - My Blog{% endif %}{% endif %}" />
    <meta property="og:type" content="{% if post.title %}Post{{post.title}}{% else %}Website{% endif %}" />
    <meta property="og:url" content="https://www.supnig.com/" />
    <meta property="og:image" content="{% if post.picture %}//supnig.com{{post.picture}}{% else %}//supnig.com/media/pictures/avatar.jpg{% endif %}" />
    <title>{% if post.title %}Christopher Supnig - {{post.title}}{% else %}Christopher Supnig - My Blog{% endif %}</title>

    <!-- HTML5 Shim and Respond.js for dumb browsers ;) -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/vnd.microsoft.icon" href="//supnig.com/media/icons/favicon.png" />
    <link rel="shortcut icon" href="//supnig.com/media/icons/favicon.png" />
    <link rel="publisher" href="https://plus.google.com/u/1/115339174010346482325" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-8861708-2', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>

</head>

<body class="index">
{% macro navigation(blog) %}
{% set basepath = "" %}
{% if blog %}
{% set basepath = "/" %}
{% endif %}
<div class="cookie-policy">
    This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.  <a href="/cookie">Read more</a> <button class="btn btn-primary accept-cookie">I agree</button>
</div>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top{% if blog %} navbar-shrink navbar-always{% endif %}">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="{{basepath}}#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{basepath}}#passion">About Me</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{basepath}}#contact">Contact</a>
                </li>
                <li{% if blog %} class="active"{% endif %}>
                    <a class="page-scroll" href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}

{% macro newsletter() %}
<div id="mc_embed_signup">
    <form action="//supnig.us15.list-manage.com/subscribe/post?u=52429858f171212689991c35f&amp;id=b34c8af7c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <h2>Subscribe to our mailing list</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_52429858f171212689991c35f_b34c8af7c9" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>

{% endmacro %}

{% block content %}
NO TEMPLATE FOUND
{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="copyright">Copyright &copy; Christopher Supnig 2015</div>
                <div class="copyright">Alserbachstrasse 11/21, 1090 Vienna</div>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://github.com/csupnig"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/csupnig"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="http://stackoverflow.com/users/694426/csupnig"><i class="fa fa-stack-overflow"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/supnig"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.xing.com/profile/Christopher_Supnig"><i class="fa fa-xing"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="copyright">Tel: +4369917109905</div>
                <div class="copyright">UID Nr. ATU70549908</div>
            </div>
        </div>
    </div>
</footer>


    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/main.min.0.8.0.css">
    <!-- endinject -->

    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

<!-- inject:vendor:js -->
<script src="/assets/js/vendorfiles/vendor.min.0.8.0.js"></script>
<!-- endinject -->

<!-- inject:app:js -->
<script src="/assets/js/app/main.min.0.8.0.js"></script>
<!-- endinject -->

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

{% block scripts %}
<!-- no scripts -->
{% endblock %}

</body>
</html>
