
<!DOCTYPE html>
<!--
      __                           
     /\ \             __           
  ___\ \ \___   _ __ /\_\    ____  
 /'___\ \  _ `\/\`'__\/\ \  /',__\ 
/\ \__/\ \ \ \ \ \ \/ \ \ \/\__, `\
\ \____\\ \_\ \_\ \_\  \ \_\/\____/
 \/____/ \/_/\/_/\/_/   \/_/\/___/ 
                          ...did this!         

-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> The 5 minute guide to free your mind</title>
    <link href="http://styles.supnig.com/styles/webfonts/RV_WBF_helveticaneueltstd.css" rel="stylesheet" type="text/css" />
    <link href="http://styles.supnig.com/styles/RV_STS_structure.css" rel="stylesheet" type="text/css" />
    <link href="http://styles.supnig.com/styles/RV_STS_fonts.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <meta name="keywords" content="christopher supnig, supnig, christopher, web, design, blog, portal, web application, enterprise search" />
    <link rel="author" href="/humans.txt" />
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="As we live
now, we have to deal with vast variety of thoughts throughout our daily
routine. It does not really matter if those are thoughts about how to solve a
problem in your job or private life, the list of items you are putting on your
imaginary shopping list, or just random thoughts that come to your mind and take
down your productivity or even your wellbeing. Read on to find out how I try to
cope with this mind clutter and go about to clean my mind."/>
    <!-- ENABLE HTML5 FOR DUMB BROWSER -->
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/vnd.microsoft.icon" href="http://images.supnig.com/media/icons/favicon.png" />
    <link rel="shortcut icon" href="http://images.supnig.com/media/icons/favicon.png">
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8861708-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<div class="site">
    <header class="header container container_12">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_11">
            <h1>
                <a href="http://www.supnig.com" title="///SUPNIG - Home">
                    <span class="blue">/</span>
                    <span class="lightblue">/</span>
                    <span class="green">/</span>
                    <span class="yellow">S</span>
                    <span class="darkyellow">U</span>
                    <span class="orange">P</span>
                    <span class="darkorange">N</span>
                    <span class="pink">I</span>
                    <span class="violet">G</span>
                </a>
            </h1>
            <span class="subtitle">These are my few cents on web development, sofware and generally the things I love.</span>
        </div>
        <div class="clearfix"></div>
    </header>
    <section id="revereContent" class="content">
        <div class="clear">&nbsp;</div>

        <ul class="container container_12">
            <li class="post blue">
                <article class="container container_12">
                    <div class="grid_1">&nbsp;</div>
                    <div class="grid_10 post">
                        <h2><a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a></h2>
                        <div class="infos"><span class="time">1 year ago</span></div>
                        <div class="content">
                            {{post.content|safe}}
                        </div>
                    </div>
                </article>
                <div class="clear"></div>
                <div class="grid_1">&nbsp;</div>
                <div class="grid_3 backlink">
                    <a href="/" title="back to overview">&laquo; overview</a>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
        <div class="container container_12">
            <section class="container container_12">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_10 comments blue">
                    <form id="newcomment" method="POST" action="?rva.portlet=Comments&amp;p.post=the-5-minute-guide-to-free-your-mind&amp;p.action=addcomment">
                        <h3>Leave a comment</h3>
                        <div><h4><label for="commentname">Your name *</label></h4><input type="text" id="commentname" name="p.name" value=""/></div>
                        <div><h4><label for="commentmail">Your email *</label></h4><input type="text" id="commentmail" name="p.email" value=""/></div>
                        <p>* Required (your email address will never be published)</p>
                        <textarea name="p.comment"></textarea>
                        <div class="hidden">
                            <input type="text" name="p.e2h19mb6mpg9nm7loo9ku7aqs" class="e2h19mb6mpg9nm7loo9ku7aqs" value=""/>
                            <input type="text" name="p.p9sqvsla55i339a5l4mk1s3jru" class="p9sqvsla55i339a5l4mk1s3jru" value=""/>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function(){jQuery('.e2h19mb6mpg9nm7loo9ku7aqs').val('fgv5tklob5kmof5sbtm88b6gcq');});
                        </script>
                        <div class="button"><input type="submit" value="Submit Comment"/></div>
                    </form>
                    <ul class="container container_12">
                        <li>
                            <div class="grid_1 avatar">
                                <img src="http://www.gravatar.com/avatar/a016691d699e701a67603737a37c9641" alt="Dimmy"/>
                            </div>
                            <div class="grid_10">
                                <h3>Dimmy</h3>
                                <span class="date">1 year ago</span>
                                <p>Distractions are evil, that's for sure. If I'd work in the office I'd probably end up jumping out of the window already :D
                                    But don't you find playing/reading/watching something to be a good recharge too? When I have too much thoughts of different topics mixed up in a way that I'm starting to get brain cancer gaming really helps. Often times I just need 1-2 hours and working feels way better, kinda refreshed. Especially when I play with 3 of us (including you, I mean), but you're never there! Ass!</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="clear"></div>
        </div>
        <div class="clearfix"></div>
    </section>
    <footer class="footer container container_12">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_11">
            <div class="floatleft email">
                <a href="http://www.supnig.com/about" title="About">&copy; Christopher Supnig</a>
            </div>
            <ul class="contact" role="menu">
                <li class="github" role="menuitem"><a title="github" href="http://www.github.com/csupnig">@github</a></li>
                <li class="twitter" role="menuitem"><a title="follow me @csupnig" href="http://www.twitter.com/csupnig">@csupnig</a></li>
                <li class="stackoverflow" role="menuitem"><a title="stackoverflow" href="http://stackoverflow.com/users/694426/csupnig">@csupnig</a></li>
                <li class="rss" role="menuitem"><a title="RSS" href="/rss">RSS</a></li>
            </ul>
        </div>
    </footer>
    <div id="revereHeaderToggle" class="RV_CNT_header_toggle"></div>
    <div id="revereHeaderBackground" class="RV_CNT_header_background">
        <div id="revereHeader" class="RV_CNT_header">
            <div class="RV_CNT_header_language">
            </div>
            <div class="RV_CNT_header_authentication RV_TXT_navigation">
                <form method="post" action="?rva.portlet=RevereMenu">
                    <fieldset>
                        <label for="username">Username:</label><input type="text" id="username" name="user"/>
                        <label for="password">Password:</label><input type="password" id="password" name="pwd"/>
                        <input type="hidden" name="login" value="true"/>
                        <input type="submit" value="Log in"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>



</div>
<script src="http://scripts.supnig.com/scripts/custom/SCT_layout.js"></script>
</body>
</html>
