{% extends "./layout.html" %}

    {% block content %}

    <section id="revereContent" class="content">
        <div class="clear">&nbsp;</div>
        <ul class="container container_12">
            {% for post in posts %}
            <li class="post {{post.color}}">
                <article class="container container_12">
                    <div class="grid_1">&nbsp;</div>
                    <div class="grid_10 post">
                        <h2><a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a></h2>
                        <div class="infos"><span class="time">{{ prettydate(post.date) }}</span></div>
                        <div class="content">{{post.preview|safe}}
                            <p class="morelink"><a href="{{post.url}}" title="{{post.title}}">continue reading &raquo;</a></p>
                        </div>
                    </div>
                </article>
                <div class="clear"></div>
            </li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
    </section>

    {% endblock %}
