{% extends "./layout.html" %}

{% block content %}
{{ navigation(true) }}
<header class="navbar-shrink" id="blog">
    <div class="container">
        <div class="intro-text">
            <!--div class="intro-lead-in">Welcome To My Page!</div-->
            <div class="avatar">
                <a href="/"><img class="img-circle img-responsive" src="/media/pictures/avatar.jpg" alt="Christopher Supnig"></a>
            </div>
        </div>
    </div>
</header>
<section class="content blog bg-light-gray">
    <div class="row">
        <div class="col-md-2 sidebar nomobile">
            <h2>Categories</h2>
            <ul>
                <li><a href="/blog">all</a></li>
                {% for category in blogcategories %}
                <li><a href="/category/{{category}}">{{category}}</a></li>
                {% endfor %}
            </ul>
            <h2>Related</h2>
            <div class="row" id="related">
                {% for rp in related %}
                <div class="portfolio-item item">
                    {% if rp.picture %}
                    <a href="{{rp.url}}" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{rp.getThumb()}}" class="img-responsive" alt="">
                    </a>
                    {% endif %}
                    <div class="portfolio-caption">
                        <h5><a href="{{rp.url}}">{{rp.title}}</a></h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <ul class="col-md-10 posts">
            <li class="post {{post.color}}">
                <article class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 post">
                        <h2><a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a></h2>
                        <div class="infos"><span class="time text-muted">{{ prettydate(post.date) }} in {{post.category}}</span></div>
                        {% if post.picture %}
                        <div class="titleimage">
                            <img class="img-responsive" src="{{post.picture}}" alt="{% if post.picturecapt %}{{post.picturecapt}}{% else %}{{post.title}}{% endif %}" title="{% if post.picturecapt %}{{post.picturecapt}}{% else %}{{post.title}}{% endif %}">
                        </div>
                        {% endif %}
                        <div class="content">
                            {{post.content|safe}}
                        </div>
                    </div>
                </article>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 backlink">
                        {% if post.category=='worldtrip' %}
                        <a href="/#worldtrip" title="back to overview">&laquo; overview</a>
                        {% else %}
                        <a href="/blog" title="back to overview">&laquo; overview</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <section id="contact" class="col-md-10 comments {{post.color}}">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form id="newcomment" method="POST" action="/comment/{{post.slug}}#newcomment">
                        <h3>Leave a comment</h3>
                        {% if commenterror %}
                        <span class="error">Your comment could not be saved!</span>
                        {% endif %}
                        {% if captchaerror %}
                        <span class="error">Your comment could not be saved! Not sure if human =.= please enable JavaScript!</span>
                        {% endif %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                        <p>* Required (your email address will never be published)</p>
                        <div class="form-group">
                        <textarea class="form-control" name="comment" placeholder="Your Message *" id="comment" required data-validation-required-message="Please enter a message."></textarea>
                        </div>
                        <div class="hidden">
                            <input type="text" name="{{name1}}" id="{{name1}}" value=""/>
                            <input type="text" name="{{name2}}" id="{{name2}}" value=""/>
                        </div>
                        <script type="text/javascript">
                            document.getElementById('{{captcha}}').value = '{{captchaValue}}';
                        </script>
                        <button type="submit" class="btn btn-xl">Submit Comment</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <ul class="posts container">
                        {% for comment in comments %}
                        <li class="row">
                            <div class="col-md-2 avatar">
                                <img src="https://www.gravatar.com/avatar/{{comment.md5mail}}" alt="{{comment.name}}"/>
                            </div>
                            <div class="col-md-10">
                                <h3>{{comment.name}}</h3>
                                <span class="date">{{ prettydate(comment.date) }}</span>

                                {% if isadmin %}
                                <span>({{post.ip}}) <a href="/comment/delete/{{post.slug}}/{{comment._id.valueOf()}}">delete</a></span>
                                {% endif %}
                                <p>
                                    {{comment.comment}}
                                </p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

