{% extends "./layout.html" %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">Christopher Supnig</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/#passion">Passion</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#worldtrip">World Trip 2015</a>
                </li>
                <li>
                    <a class="page-scroll" href="/blog">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<section id="revereContent" class="content">
    <div class="clear">&nbsp;</div>

    <ul class="container container_12">
        <li class="post {{post.color}}">
            <article class="container container_12">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_10 post">
                    <h2><a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a></h2>
                    <div class="infos"><span class="time">{{ prettydate(post.date) }}</span></div>
                    <div class="content">
                        {{post.content|safe}}
                    </div>
                </div>
            </article>
            <div class="clear"></div>
            <div class="grid_1">&nbsp;</div>
            <div class="grid_3 backlink">
                <a href="/" title="back to overview">&laquo; overview</a>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
    <div class="container container_12">
        <section class="container container_12">
            <div class="grid_1">&nbsp;</div>
            <div class="grid_10 comments {{post.color}}">
                <form id="newcomment" method="POST" action="/comment/{{post.slug}}#newcomment">
                    <h3>Leave a comment</h3>
                    {% if commenterror %}
                    <span class="error">Your comment could not be saved!</span>
                    {% endif %}
                    {% if captchaerror %}
                    <span class="error">Your comment could not be saved! Not sure if human =.= please enable JavaScript!</span>
                    {% endif %}
                    <div><h4><label for="commentname">Your name *</label></h4><input type="text" id="commentname" name="name" value="" required/></div>
                    <div><h4><label for="commentmail">Your email *</label></h4><input type="text" id="commentmail" name="email" value="" required/></div>
                    <p>* Required (your email address will never be published)</p>
                    <textarea name="comment"></textarea>
                    <div class="hidden">
                        <input type="text" name="{{name1}}" id="{{name1}}" value=""/>
                        <input type="text" name="{{name2}}" id="{{name2}}" value=""/>
                    </div>
                    <script type="text/javascript">
                        document.getElementById('{{captcha}}').value = '{{captchaValue}}';
                    </script>
                    <div class="button"><input type="submit" value="Submit Comment"/></div>
                </form>
                <ul class="container container_12">
                    {% for comment in comments %}
                    <li>
                        <div class="grid_1 avatar">
                            <img src="http://www.gravatar.com/avatar/{{comment.md5mail}}" alt="{{comment.name}}"/>
                        </div>
                        <div class="grid_10">
                            <h3>{{comment.name}}</h3>
                            <span class="date">{{ prettydate(comment.date) }}</span>

                            {% if isadmin %}
                            <span><a href="/comment/delete/{{post.slug}}/{{comment._id.valueOf()}}">delete</a></span>
                            {% endif %}
                            <p>
                                {{comment.comment}}
                            </p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <div class="clear"></div>
    </div>
    <div class="clearfix"></div>
</section>

{% endblock %}

