{% extends "./layout.html" %}

    {% block content %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">Christopher Supnig</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/#passion">Passion</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#worldtrip">World Trip 2015</a>
                </li>
                <li>
                    <a class="page-scroll" href="/blog">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
    <section id="revereContent" class="content">
        <div class="clear">&nbsp;</div>
        <ul class="container container_12">
            {% for post in posts %}
            <li class="post {{post.color}}">
                <article class="container container_12">
                    <div class="grid_1">&nbsp;</div>
                    <div class="grid_10 post">
                        <h2><a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a></h2>
                        <div class="infos"><span class="time">{{ prettydate(post.date) }}</span></div>
                        <div class="content">{{post.preview|safe}}
                            <p class="morelink"><a href="{{post.url}}" title="{{post.title}}">continue reading &raquo;</a></p>
                        </div>
                    </div>
                </article>
                <div class="clear"></div>
            </li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
    </section>

    {% endblock %}
