{% extends "./layout.html" %}

{% block content %}

<div class="single-widget-container">
    <section class="widget registration-widget createaccount">
        <header class="text-align-center">
            <h4>Create an account</h4>
        </header>
        <div class="body">
            <form class="no-margin" action="/signup" method="post">
                <fieldset>
                    <div class="form-group no-margin">
                        <label for="email">Email</label>

                        <div class="input-group input-group-lg">
	<span class="input-group-addon">
	<i class="eicon-user"></i>
	</span>
                            <input name="email" id="email" type="email" class="form-control input-lg" placeholder="Your Email">
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>

                        <div class="input-group input-group-lg">
	<span class="input-group-addon">
	<i class="fa fa-lock"></i>
	</span>
                            <input name="password" id="password" type="password" class="form-control input-lg" placeholder="Your Password">
                        </div>

                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-lg btn-danger">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>Create account</small>
                    </button>
                    <div class="forgot"><a href="/#/about">Terms</a></div>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock %}